<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="footer-elements"> <%= t('home.title') %> &copy; <%= Time.now.year %> </div>
  </div>
</nav>